RewriteEngine On
RewriteRule ^pages/([0-9]+)/?$ index.php?page=pages&id=$1
RewriteRule ^home/?$ index.php?page=home
RewriteRule ^shop/?$ index.php?page=shop
RewriteRule ^shop/([0-9]+)/?$ index.php?page=shop&id=$1
RewriteRule ^shop_item/([0-9]+)/?$ index.php?page=shop_item&id=$1
RewriteRule ^contact/?$ index.php?page=contact
RewriteRule ^site/?$ index.php?page=site
RewriteRule ^admin/?$ admin.php
RewriteRule ^admin/(.+)/?$ admin.php?page=$1

ErrorDocument 404 /index.php?page=404
